body{
	
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}






td.td4{
	padding-top:10px;
	border-width:10px;
                   margin-top:10px;
                   text-align:center;
}




	


