#container{
		height:300px;
		width:950px;
		margin:10px auto;
		
		
		}
		
		#img{
                                 
		height:350px;
		width:1000px;
                             
		}
		
		
		
		
		
		